<div>
    <div>ID : {{user.id}}</div>
    <div>Nom : {{user.firstName}}</div>
    <div>Préom : {{user.lastName}}</div>
    <div>Login : {{user.login}}</div>
    <div>Password : {{user.password}}</div>
    <div>email : {{user.email}}</div>
    <div>Reference : {{user.reference}}</div>
    <!-- TODO : authority-->
</div>
