<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div for="name">Name*</div>
        <input id="name" 
            name="name" 
            type="text" 
            formControlName="name">

        <div *ngIf="form.get('name').invalid">
            <div *ngIf="form.get('name').hasError('required') && form.get('name').touched">Nom est obligatoire</div>
        </div>
    </div>
    <div>
        <div for="price">Prix</div>
        <input id="price" 
            name="price" 
            type="text" 
            formControlName="price">
        
        <div *ngIf="form.get('price').invalid">
            <div *ngIf="form.get('price').hasError('required') && form.get('price').touched">Prix est obligatoire</div>
            <div *ngIf="form.get('price').hasError('min') && form.get('price').touched">Prix doit être positif</div>
        </div>
    </div>
    
    <div>
        <div for="idCategory">Categorie</div>
        <select name="idCategory" formControlName="idCategory">
            <option value="0" 
                    [selected]="product.idCategory === 0">Votre choix</option>
            <option *ngFor="let category of categories" 
                    [selected]=" product.idCategory === category.id"
                    [value]="category.id">{{category.name}}</option>
        </select>
        <div *ngIf="form.get('idCategory').invalid">
            <div *ngIf="form.get('idCategory').hasError('required') && form.get('idCategory').touched">Categorie est obligatoire</div>
            <div *ngIf="form.get('idCategory').hasError('min') && form.get('idCategory').touched">Choisir categorie</div>
        </div>
    </div>

    <br/>
    <div>
        <button type="reset" (click)="onReset()">Cancel</button>
        <button type="submit">Valider</button>
    </div>
</form>