<main class="app-login">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <div for="username">Username*</div>
            <input id="username" 
                name="username" 
                type="text" 
                formControlName="username">

            <div *ngIf="form.get('username').invalid">
                <div *ngIf="form.get('username').hasError('required') && form.get('username').touched">Username est obligatoir</div>
            </div>
        </div>
        <div>
            <div for="password">Password*</div>
            <input id="password" 
                name="password" 
                type="text" 
                formControlName="password">

            <div *ngIf="form.get('password').invalid">
                <div *ngIf="form.get('password').hasError('required') && form.get('password').touched">Password est obligatoir</div>
            </div>
        </div>
        
        <br/>
        <div>
            <button type="reset" (click)="onReset()">Cancel</button>
            <button type="submit">Login</button>
        </div>
    </form>
</main>
