<table>
    <thead>
        <tr>
            <th >Id</th>
            <th >Endpoint</th>
            <th >Label</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="business-action-item" *ngFor="let businessAction of businessActions | async">
            <article (click)="redirectToDetail(businessAction)">
                <td>{{businessAction.id}}</td>
                <td>{{businessAction.endpoint}}</td>
                <td>{{businessAction.label}}</td>
                <td>
                    <button (click)="redirectToDetail(businessAction)">Detail</button>
                </td>
                <td>
                    <button (click)="remove(businessAction.id)">Supprimer</button>
                </td> 
            </article>
        </tr>
    </tbody>
</table>
