<table>
    <thead>
        <tr>
            <th >Id</th>
            <th >Nom</th>
            <th >Prenom</th>
            <th>Login</th>
            <th>Password</th>
            <th>email</th>
            <th>reference</th>
            <th>Authorities</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="user-item" *ngFor="let user of users | async">
            <article (click)="redirectToUserDetail(user)">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastNamae}}</td>
                <td>{{user.login}}</td>
                <td>{{user.password}}</td>
                <td>{{user.email}}</td>
                <td>{{user.reference}}</td>
                <td>{{user.authorities}}</td>
                <td>
                    <button (click)="redirectToUsertDetail(user)">Detail</button>
                </td>
                <td>
                    <button (click)="remove(user.id)">Supprimer</button>
                </td> 
            </article>
        </tr>
    </tbody>
</table>

