<main class="app-menu">
    <div class="container">
        <a href="#" class="logo">Business manager</a>   
        <nav>
            <ul>
                <li><a href="#" routerLink="/users">Membres</a></li>
                <li><a href="#" routerLink="/categories">Categories</a></li>
                <li><a href="#" routerLink="/products">Articles</a></li>
                <li><a href="#" routerLink="/authorities">Authorities</a></li>
                <li><a href="#" routerLink="/resources">Resources</a></li>
                <li><a href="#" routerLink="/actions">Actions</a></li>
            </ul>
        </nav>
    </div>
</main>