<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div for="endpoint">EndPoint*</div>
        <input id="endpoint" 
            name="endpoint" 
            type="text" 
            formControlName="endpoint">

        <div *ngIf="form.get('endpoint').invalid">
            <div *ngIf="form.get('endpoint').hasError('required') && form.get('endpoint').touched">Nom est obligatoire</div>
        </div>
    </div>
    <div>
        <div for="label">Label</div>
        <input id="label" 
            name="label" 
            type="text" 
            formControlName="label">
    </div>
    
    <div>
        <div for="idResource">Resource</div>
        <select name="idResource" formControlName="idResource">
            <option value="0" 
                    [selected]="businessAction.idResource === 0">Votre choix</option>
            <option *ngFor="let businessResource of businessResources" 
                    [selected]=" businessAction.idResource === businessResource.id"
                    [value]="businessResource.id">{{businessResource.name}}</option>
        </select>
        <div *ngIf="form.get('idResource').invalid">
            <div *ngIf="form.get('idResource').hasError('required') && form.get('idResource').touched">Resource est obligatoire</div>
            <div *ngIf="form.get('idResource').hasError('min') && form.get('idResource').touched">Choisir resource</div>
        </div>
    </div>

    <br/>
    <div>
        <button type="reset" (click)="onReset()">Cancel</button>
        <button type="submit">Valider</button>
    </div>
</form>