<main class="app-products">
    <button (click)="redirectToCreateProduct()">Créer</button>
    <br/>
    <br/>
    <app-product-create *ngIf="action=='CREATE_PRODUCT'"></app-product-create>
    <app-products-list *ngIf="action=='GET_PRODUCTS'"></app-products-list>
    <app-product-detail *ngIf="action=='SELECT_PRODUCT'"></app-product-detail>
    <br/>
    <br/>
    <button (click)="redirectToProductsList()">Retour à la liste</button>
    <br/>
    <br/>
</main>
