<main class="app-categories">
    <button (click)="redirectToCreateCategory()">Créer</button>
    <br/>
    <br/>
    <app-category-create *ngIf="action=='CREATE_CATEGORY'"></app-category-create>
    <app-categories-list *ngIf="action=='GET_CATEGORIES'"></app-categories-list>
    <app-category-detail *ngIf="action=='SELECT_CATEGORY'"></app-category-detail>
    <br/>
    <br/>
    <button (click)="redirectToCategoriesList()">Retour à la liste</button>
    <br/>
    <br/>
</main>
