<main class="app-users">
    <button (click)="redirectToCreateUser()">Créer</button>
    <br/>
    <br/>
    <app-user-create *ngIf="action=='CREATE_USER'"></app-user-create>
    <app-users-list *ngIf="action=='GET_USERS'"></app-users-list>
    <app-user-detail *ngIf="action=='SELECT_USER'"></app-user-detail>
    <br/>
    <br/>
    <button (click)="redirectToUsersList()">Retour à la liste</button>
    <br/>
    <br/>
</main>